@tailwind base;
@tailwind components;
@tailwind utilities;


.card-scroll::-webkit-scrollbar {
    @apply h-1 w-2;
}

.card-scroll::-webkit-scrollbar-track {
    background: #8888882e;
    border-radius: 5px;
}

.card-scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #A91D54;
}


.card-gredient {
    background: linear-gradient(to bottom, transparent 40%, #FFFFFF 40%);
}

.bg-gray-fade {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.89) 4.58%, rgba(0, 0, 0, 0.00) 100%);
}


.faq-details[open] summary span svg {
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
}

.card-animate {
    background: url(https://a.storyblok.com/f/45434/x/fafbf088ef/masters-card.svg) scroll no-repeat 20% 70% #A91D54;
}
.program a svg{
    rotate: 0deg;
}
.program:hover a svg{
    rotate: 180deg;
}
.program:hover .program-list {
    display: flex;
    background: white;
}
.program:hover .program-list li:hover a svg{
    rotate: 0deg;
}

.program:hover .program-list li:hover .program-list-items {
    display: flex;
    background: white;
}
.program:hover .program-list li:hover .program-list-items li:hover a svg{
    rotate: 180deg;

}
.program:hover .program-list li:hover .program-list-items li:hover .program-list-items-value {
    display: flex;
    background: white;
}
.mobile-program-details summary span svg{
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}
.mobile-program-details[open] summary span svg{
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}
.mobile-program-details[open] div ul li .mobile-occupation-details summary span svg{
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}
.mobile-program-details[open] div ul li .mobile-occupation-details[open] summary span svg{
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}
.mobile-program-details[open] div ul li .mobile-occupation-details div ul li .mobile-specilazation-details summary span svg{
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}
.mobile-program-details[open] div ul li .mobile-occupation-details[open] div ul li .mobile-specilazation-details[open] summary span svg{
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}


.about::after{
    @apply hidden md:flex absolute z-10 h-[600px] w-52 bg-brand-red top-0  right-20;
    content: '';
}
.about1::after{
    @apply hidden md:flex absolute z-10 h-full w-96 bg-brand-red top-0  left-0;
    content: '';
}
.goal::after{
    @apply flex absolute z-10 h-2/5 w-full my-auto bg-brand-red inset-0;
    content: '';
}

.about-bg-gradient{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.89) 57.19%, rgba(0, 0, 0, 0.00) 100%);
}